nav {
    height: 70px;
}

.card-body {
    padding-bottom: 3px !important;
}

.pag {
    height: calc(100vh - 70px);

}

#sidebar div:hover {
    /* background-color: rgba(255, 255, 255, 0.253); */
    transform: scale(1.1);
    cursor: pointer;
}

#sidebar {
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    height: 100%;
}


/**************************** backgrouds ************************/
.bg-blue {
    background: #1C71E8;
}

.bg-badje {
    background: #155BBA;
}

.bg-white {
    background-color: white;
}

/**************************** colori ************************/

.white {
    color: white;
}