
.debug{
    /* border: 2px dashed red; */
    /* min-height: 2rem; */
}
.control{
    /* border: 2px dashed  ;greenyellow; */
    /* min-height: 2rem; */
}
.sese{
    width: 80px;
}
nav{
    width: 100%;
    height: 70px;
    padding: 1rem;
    background-color: aquamarine;
}

.pag{
    /* border: 2px dashed greenyellow; */
    height: calc(100vh - 70px);
    
}

#toolbar div:hover{
    background-color: rgba(255, 255, 255, 0.253);
}

#toolbar{
    background-color: #051E34;
    color: white;
    /* width: 150px; */
    height: 100%;
}

input{
    margin-right: 5px;
}



/**************************** backgrouds ************************/
.bg-blue{
    background: #1C71E8;
}
.bg-badje{
    background: #155BBA;
}
.bg-white{
    background-color: white;
}
/**************************** colori ************************/

.white{
    color: white;
}